@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

:root {
  --primary-white: #fff;
  --primary-teal: #00c4cc;
  --primary-dark: rgba(255,255,255, 0);
  --primary-yellow: #b8cc00;
  --primary-hover-yellow: #b8cc00;
}

body {
  font-family: "Roboto Slab" serif;
}

/***************** NAVBAR ******************/

nav {
  z-index: 2;
}

/* .logo {
  width: 16.25rem;  
} */

/*------ MenuLinks -----------*/

nav a.nav-link {
  /* font-weight: 500; */
  font-size: 90%;
  letter-spacing: 0.0375px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white)!important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  /* padding: 0 !important; */ 
  /* height: 6rem !important; */
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem,
  }
}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-teal);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-teal);
}

/************** HEADER *****************/

.header-wrapper {
  position: relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* padding: 8rem; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Slab" serif;
  z-index: none;
}

.main-info h1 {
  /* color: var(--primary-teal); */
  color: var(--primary-white);
  /* margin: 1rem; */
  text-transform: uppercase;
}

/*-----TYPED TEXT ------*/
.typed-text {
    font-size: 2em;
    /* margin: 1rem; */
    color: var(--primary-white);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.5 rem !important;
  }
  .typed-text {
    font-size: 1.7 rem !important;
  }
}

/*-------HEADER MAIN OFFER BUTTON--------*/
.btn-main-offer {
  border: 1px solid var(--primary-yellow);
  text-transform: uppercase;
  background-color:var(--primary-teal); opacity: 80%;
  font-size: .875em;
  border-radius: 1;
  padding: .625rem .75rem .75rem .75rem;
  color: rgb(249, 250, 252);
  margin: 6rem; 
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-yellow);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}
/*--------- PARTICLES JS--------*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}