@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-new-grey: #292525;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-blue: #2d6bbd;
  --primary-teal: #7cb6ec;
  --primary-dark: rgb(52, 58, 64);
  --primary-yellow: #b8cc00;
  --primary-hover-yellow: #b8cc00;
  --primary-green: green;
  --primary-black: #000000;
  --primary-transparent-black: rgba(0,0,0,0.7);
}

body {
  font-family: "Roboto Condensed" !important;
}

/***************** NAVBAR ******************/
/* nav {
  z-index: 2;
} */
/*------ MenuLinks -----------*/
/* nav a.nav-link {
  font-size: 90%;
  letter-spacing: 0.0375px;
  cursor: pointer;
}

nav a {
  font-size: 90%;
  letter-spacing: 0.0375px;
  cursor: pointer;
} */

nav ul li a {

  font-size: 1rem !important;
  letter-spacing: 0.0375px;
  cursor: pointer
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: var(--primary-white)!important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  color: var(--primary-teal) !important;
  max-width: 17.25rem;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem,
  }
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-teal);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-teal);
}

/****** RESUME a LINK ******/

.resume {
  /* padding-bottom: .5rem; */
  padding-left: .5rem;
}

.resume-a {
  text-decoration: none;
  color: var(--primary-white);
  border: .03rem solid ;
  border-color: var(--primary-white);
  padding: .3rem;
  margin-right: 0rem;
}

.resume-a:hover {
  text-decoration: none;
  color: var(--primary-yellow);
  border-color: var(--primary-blue);
  /* background-color: var(--primary-white); */
}

/************** HEADER *****************/
.header-wrapper {
  position: relative;
  background: url(background3.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* padding: 8rem; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7 rem !important;
  }
}
/*-----TYPED TEXT ------*/
.typed-text {
    font-size: 2em;
    color: var(--primary-white);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.0 rem !important;
  }
}

/*-------HEADER MAIN INFO BUTTON--------*/
.btn-main-offer {
  border: 0.0625rem solid var(--primary-yellow);
  text-transform: uppercase;
  border-radius: 1;
  padding: .75rem .75rem .75rem .75rem;
  color:var(--primary-yellow);
  background-color:var(--primary-blue); 
  opacity: .9;
  font-size: 1em;
  cursor: pointer;
  margin: 6rem; 
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-dark-grey);
  color: var(--primary-white);
  transition: .1s ease-in-out;
}
/*--------- PARTICLES JS--------*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/*------------ ABOUT ME --------------*/
#about{
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.photo-wrap {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container{
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.profile-pic {
  height: 17rem;
  border-radius: 50%;
  padding-bottom: 0rem;
  /* border: 1px solid var(--primary-yellow); */
}
.about-me-text {
  padding-top: 1rem;
  /* margin-right: 2rem; */
  font-size: 1.2rem;
  color: var(--primary-new-grey)
}
.heading{
  /* padding: 1rem; */
  color: var(--primary-yellow);
  text-transform: uppercase;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

/*------------ SERVICES OLD--------------*/
 #services #boxes{
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
  align-items: space-around;
}


div#services{
  /* padding-top: 4rem; */
    /* padding-bottom: 4rem; */
    align-items: space-around;
  }
  
  
  .services-wrapper {
    text-align: center;
    padding-bottom: 1rem;
    background: var(--primary-white);
  }
  
  .services-wrapper h1 {
    color: var(--primary-yellow);
    padding-bottom: 0rem !important;
    margin-top: 4rem;
    text-transform: uppercase;
    font-size: 2.7rem !important;
  } 
  
  .services-wrapper .circle {
    position: relative;
    margin: 0.375rem auto;
    background: var(--primary-teal);
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
  }
  
  .services-wrapper .icon {
    font-size: 1.4rem;
    color: var(--primary-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .services-wrapper .row img {
    /* padding-left: .7rem; */
    padding-right:0rem;
    align-items: center;
    padding-left: .3rem;
    padding-bottom: .3rem;
  }

  .services-wrapper .row h4 {
    /* padding-top: 1.5rem; */
    /* padding-bottom: 0rem; */
    /* font-size: 4rem; */
    text-align: center;
    font-size: 1.3rem !important;
    color: var(--primary-black)
  }

  /* .services-wrapper h6{
    font-size: 1rem !important;
  } */

  .services-wrapper .row h6 {
    /* padding-top: 1.5rem;
    padding-bottom: 0rem;
    padding-left: 1rem; */
    /* font-size: .6rem !important; */
    /* font-weight: bold !important; */
    align-items: center;
    text-align: center;
    font-size: 1rem !important;
    color: var(--primary-black)
  }
  
  .services-wrapper .row{
    align-items: center;
    text-align: center;
    /* float: none; */
    /* padding-top: .5rem; */
    padding-left: .5rem;
    /* padding-right: 1rem; */
    padding-bottom: 3rem;
  }
  
  .services-wrapper .box {
    /* align-items: space-between;  */
    border-bottom: .3125rem solid var(--primary-teal);
    padding-top: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom:.5rem;
    background: var(--primary-light-grey);
    transition: 0.3s ease-in-out;
  }
  
  .services-wrapper .skill-set {
    text-align: right;
    align-items: space-between;
    position: center; 
    padding-top: 4rem;
    transition: 0.3s ease-in-out;
  }

  .services-wrapper #repo img:hover{
    text-align: center;
    background: var(--primary-teal);
    cursor: pointer;
  }

  .services-wrapper .popup-links h4{
    text-align: center;
    align-items: space-between;
    position: center; 
    text-align: center;
    /* padding-top: 4rem; */
    transition: 0.3s ease-in-out;
  }
  

  /* div .hyper-link .popup-links{
    text-align: right;
    align-items: space-between;
    position: center; 
    padding-right: 3rem;
    transition: 0.3s ease-in-out;
  } */

  .services-wrapper .row:hover {
    border-bottom: var(--primary-blue);
  }
  
  .services-wrapper .box:hover .icon {
    color: var(--primary-blue);
  }
  
  .services-wrapper .circle:hover {
    border-bottom: var(--primary-blue);
  }
  
  .services-wrapper .box:hover h3 {
    color: var(--primary-blue);
    border-bottom: var(--primary-blue);
  }
  
  .services-wrapper .box:hover p {
    color: var(--primary-black);
    border-bottom: var(--primary-blue);
  }
  
  
/*------------ PORTFOLIO --------------*/

/* .portfolio-wrapper {
  position: relative;
  padding: 4rem;
} */

div#portfolio{
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.portfolio-wrapper {
  background: var(--primary-light-grey);
  position: relative;
  padding: 3rem;
}

.portfolio-wrapper h3{
  text-align: center;
  padding-top: .7rem;
  color: var(--primary-yellow)
}

@media(min-width: 768px){
  .portfolio-wrapper{
    padding: 0rem 0;
    padding-bottom: 0rem;
  }
}

.popupbox-content{
  text-align: center;
}

.portfolio-wrapper h1{
  /* margin-top: 1.5rem; */
  color: var(--primary-transparent-black);
  margin-bottom: 1.5rem !important;
  font-size: 2.7rem !important;
}

.portfolio-wrapper h4 {
  color: var(--primary-black);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem !important;
  font-size: 1.5rem !important;
}

.portfolio-wrapper .py-5 {
  padding: 1.3rem!important;
}

#portfolio-overlap {
  margin-left: -353px;
  color: var(--primary-transparent-black);
}

/* .portfolio-image {
  width: 15rem;
  border: 1px solid var(--primary-hover-yellow);
  padding: 0 0.5rem;
} */

.portfolio-image{
  /* width: 14.5rem;
  height: 8.8rem; */
  width: 20rem;
  height: 12rem;
  /* border: 1px solid var(--primary-hover-yellow); */
  padding: .1rem;
}

.portfolio-image-box {
  /* width: 15rem; */
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  /* margin: .9rem; */
}

/***************** Overflow Box ******************/
.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 20rem;
  height: 12rem;
  /* width: 14.5rem;
  height: 8.8rem; */
  top: 0;
  /* border: 1px solid var(--primary-yellow); */
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: .6;
  transition: 0.3s ease-in-out;
}

/* .portfolio-image-box:hover .portfolio-image {
  border: 1px solid var(--primary-dark-grey);
} */

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-yellow);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: .7;
  transition: 0.3s ease-in-out;
  color: var(--primary-yellow);
  cursor: pointer;
}

@media(min-width: 780px){
  .portfolio-wrapper h1{
    font-size: 3.2rem
  }
  #portfolio-overlap{
    margin-left: -452px;
  }
}

@media(max-width: 480px){
  .portfolio-wrapper h1{
    font-size: 1.8rem
  }
  #portfolio-overlap{
    margin-left: -255px;
  }
}

/***************** Popup ******************/
.popupbox-wrapper {
  margin-top: 4rem;
}

.popupbox-titleBar{
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  background-color: var(--primary-light-grey);
  color: var(--primary-blue);
}

.popupbox-btn--close{
  top: 4px !important;
}

.popupbox-content{
  padding: .6rem 1rem !important;
  background-color: var(--primary-dark-grey);
}

.portfolio-image-popupbox {
  width: 45rem;
  padding: 0.5rem;
  border: .025rem solid var(--primary-teal);
  border-radius: .25rem;
}

.popupbox-titleBar span{
  font-weight: 580;
  font-size: 1.5rem;
}

.popupbox p{
  color: var(--primary-grey);
  margin: .5rem;
}

.popupbox h6{
  color: var(--primary-white);
  font-size: 1.2rem;
  /* margin: .2rem; */
  margin-top: .5rem;
  margin-left: .4rem;
  text-align: left;
}

.popup-desc{
  font-size: .88rem;
  width: 45rem;
  margin: .25rem 0;
  margin-bottom: .3rem;
}


.hyper-link {
  cursor: pointer;
  color: var(--primary-yellow);
  /* margin: 2rem; */
  margin-top: .4rem;
  margin-left: 4rem; 
  font-size: 1.2rem;
}

.hyper-link:hover {
  text-decoration: none;
  transition: 0.2s ease-in-out;
  color: var(--primary-white);
}

.popup-icon:hover{
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: var(--primary-hover-yellow);
}

.popup-icons {
  /* margin-left: .3rem; */
  /* margin-top: .3rem; */
  display: flex;
  justify-content: left;
}

.popup-icon {
  
  /* margin-right: .25rem; */
  /* margin-left: 3rem; */
  color: var(--dark-mode-green);
}

.popup-links span{
  line-height: 80%;
  /* margin-top: 2rem; */
  /* font-size: 1rem; */
}

/**** WIDTH ****/

@media(max-width: 1050px){
  
  .portfolio-image-popupbox{
    width: 90%;
  }
  
  .popup-desc{
    width: 100%;
    font-size: .75rem;
  }
}

@media(max-width: 768px){
  
  .portfolio-image-popupbox{
    width: 100%;
  }
  
  .popup-desc{
    font-size: .61rem;
    width: 100%;
    margin: .25rem 0;
  }
  
  .popup-links{
    font-size: .8rem;
  }
}

@media(max-width: 550px){
  .popup-links{
    font-size: .7rem;
  }
  
}


/**** HEIGHT ****/

@media(max-height: 640px){
  .popupbox-wrapper{
    width: 60%;
  }
  
  .popupbox-content{
    text-align: center;
  }
  
  
  .portfolio-image-popupbox{
    width: 60%;
  }
  
  .popup-desc {
    width: auto;
  }
  
  .popup-links{
    font-size: .7rem;
  }
}

@media(max-height: 570px){
  
  .portfolio-image-popupbox{
    width: 40%;
  }
}


/***************** MEDIA POP UP BOX ******************/ 

@media(max-width: 890px){
  .portfolio-image-popupbox {
    width: 100%;
  }
  .popup-desc{
    width: 100%;
    font-size: .7rem;
  }
  .hyper-link{
    width: 60%;
    font-size: .6rem;
  }
  .link-desc{
    font-size: .8rem;
  }
}

@media(max-width: 768px) {
  .portfolio-image-popupbox {
    width: 100%;
  }
  .popup-desc{
    width: 100%;
    font-size: .7rem;
  }
  .hyper-link{
    width: 60%;
    font-size: .6rem;
  }
  .link-desc{
    font-size: .8rem;
  }
}

@media(max-height: 570px) {
  .popupbox-wrapper {
    height: 100% !important;
  }
  .portfolio-image-popupbox {
    width: 60%;
  }
  .popup-desc{
    width: 80%;
    font-size: .7rem;
  }
  .hyper-link{
    width: 80%;
    font-size: .6rem;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper{
    height: 100% !important;
  }
  .portfolio-image-popupbox {
    width: 40%;
  }
  .popup-desc{
    width: 80%;
    font-size: .7rem;
  }
  .hyper-link{
    width: 80%;
    font-size: .6rem;
  }
}


/* ***************** Contact Component***************************  */
/* .contact{
  /* background: var(--primary-dark); */
  /* padding-left: 1rem;
  padding-right: 1rem; */

.contact h4 {
  text-align: center;
}

.contact .item {
  align-items: center;
}

.contact h1 {
  color: var(--primary-yellow);
  /* padding: 1.3rem 0; */
  text-transform: uppercase;
}

.contact p {
  color: var(--primary-white);
  font-size: 1.2rem;
}

/* ***************** Inputs***************************  */
.contact input, .contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  color: var(--primary-yellow);
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-white);
  border-radius: 0;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

/* .contact .container {
  padding: 4rem 0;
} */

.contact input:focus, .contact textarea:focus {
  background: transparent;
  color: var(--primary-yellow);
  border-bottom: 0.125rem solid var(--primary-white);
}

.contact textarea {
  height: 12.2rem !important;
}

.btn-primary{
  margin: 2 rem 0 0 0;
  width: 100%;
  background-color: var(--primary-dark) !important;
  color: var(--primary-white) !important;
  border-color: var(--primary-red) !important;
}
.btn-primary:hover {
  background-color: var(--primary-yellow) !important;
  color: var(--primary-white) !important;
  border-color: var(--primary-yellow) !important;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control{
  margin: -0.3rem 0;
}

textarea.form-control{
  margin: -0.3rem 0;
}

.error-message{
  color: var(--primary-white);
  background: var(--primary-hover-yellow);
  text-align: left;
}

.success-message{
  font-weight: 900;
  color: var(--primary-green);
}
/* ***************** Media Input***************************  */

@media(max-width: 768px){
  
  .contact {
    overflow-x: hidden;
  }
  .contact .container{
    padding: 0 1rem;
  }
  
  .contact p {
    padding: 0 0.4rem;
  }
}
/* ***************** FOOTER COMPONENT ***************************  */

.footer {
  /* align-items: center !important; */
  background: var(--primary-dark-grey);
  color: var(--primary-white);
  padding-top: .5rem;
  
}

.footer .row {
  align-items: center;
  justify-content: center;
  /* padding-bottom: 2rem; */
}

.footer h1 {
  color: var(--primary-teal) !important;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1rem;
  text-transform: bolder;
  padding-bottom: .5rem;
  padding-left: 2rem;
  /* padding-right: 1rem; */
  font-size: 2.8rem !important;
}

.footer a {
  text-decoration: none;
  /* align-items: center !important; */
  color: var(--primary-white);
  /* margin-left: 1.5rem;
  margin-right: 1.5rem; */
  font-size: 1.3rem;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
}

/* .footer a:hover {
  color: var(--primary-yellow);
} */
.contact {
  text-align: center;
  align-items: center;
}
/* .footer .cell {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
} */

.footer .icon {
  text-decoration: none;
  /* align-items: center !important; */
  /* color: var(--primary-dark-grey); */
  /* text-align: center; */
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
}
.footer h2 {
  text-align: center;
}
.footer h4{
  padding-left: 0rem;
  padding-right: 0rem;
  /* color: var(--primary-yellow); */
  padding-top: .1rem;
  text-align: center;
  align-items: center !important;
  font-size: 1.3rem !important;
}

.footer .contact .icon{
  align-items: center;
}
  
/* .services-wrapper .box:hover h3 {
  color: var(--primary-blue);
  border-bottom: var(--primary-blue);
} */

.footer h6 {
  color: var(--primary-white);
  /* background-color: var(--primary-black) !important; */
  /* align-items: left;
  padding-left: 2rem;
  padding-right: 2rem; */
}

/* .footer h4:hover{
  font-size: 1.3rem;
  color: var(--primary-yellow);
} */

.footer .icon:hover{
  text-decoration: none;
  /* color: var(--primary-hover-yellow); */
  background-color: var(--primary-teal); 
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}
/* 
#number {
  margin-bottom: 1;
} */

.footer h6 {
  margin-top: 1rem;
  align-items: center;
  /* margin-right: 1rem; */
}
/* 
.footer g {
  background-color: var(--primary-yellow) !important;
  color: var(--primary-hover-yellow) !important;
} */

div .contact {
  padding-left: .5rem;
  padding-right: .5rem;
}
div .social{
  padding-left: .5rem;
  padding-right: .5rem;
}
/***************** BOTTOM FOOT ******************/

.bottom-foot {
  padding-top: .6rem;
  background-color: var(--primary-black);
}

.bottom-foot h1 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 1rem;
  color: var(--primary-yellow);
  /* padding-bottom: 1rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2.7rem !important;
}

.bottom-foot h4{
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--primary-light-grey);
  padding-top: .1rem;
  text-align: center;
  align-items: center !important;
  font-size: 1.3rem !important;
}

.bottom-foot h6{
  padding-left: 0rem;
  padding-right: 0rem;
  color: var(--primary-yellow);
  padding-top: .1rem;
  margin-left: 1rem;
  /* text-align: center; */
  align-items: center !important;
  font-size: .9rem !important;
}

.bottom-foot .icon:hover{
  text-decoration: none;
  /* color: var(--primary-hover-yellow); */
  background-color: var(--primary-yellow); 
  cursor: pointer;
}

.bottom-foot .row {
  /* align-items: center; */
  justify-content: space-around;
}

.bottom-foot h6{
  /* text-align: center !important; 
  align-items: center !important; */
  color: var(--primary-light-grey);
  padding-left: 2rem;
  padding-right: 2rem;
  /* margin-left: 1rem;
  margin-right: 1rem; */
}


/***************** Testimonials ******************/
.testimonials {
  background: url(background.jpg);
  background-size: cover;
  background-color: var(--primary-black);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
  /* height: 200px; */
}

.testimonials h1 {
  color: var(--primary-yellow);
  padding: 0rem 0;
  text-transform: uppercase;
}

.testimonials-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: var(--primary-transparent-black);
}

.myCarousel {
  color: var(--primary-white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
}

.myCarousel h3 {
  color: var(--primary-yellow);
  font-weight: 600;
  text-transform: uppercase;
}

.myCarousel p {
  color: var(--primary-grey);
}

.carousel .slide img {
  width: 10rem !important;
  border-radius: 50%;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}

/*------------ EXPERIENCE --------------*/
/* 
.experience {
  padding: 0.7rem;
}
.experience-wrapper {
  position: absolute;
  padding: 3.125rem 0;
  overflow: hidden;
}
.experience h1 {
  text-transform: uppercase;
  color: var(--primary-yellow);
}
.experience-wrapper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}
.timeline-block {
    width: calc(50% + 0.5rem);
    display: flex;
    justify-content: space-between;
    clear: both;
  }
  .timeline-block-right {
    float: right; 
  }
  .timeline-block-left {
    float: left;
    direction: rtl;
  }
  .marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.3125rem solid var(--primary-dark);
    background: var(--primary-teal);
    margin-top: 0.625rem;
    z-index: 3;
  }
  .timeline-content {
    width: 95%;
    padding: 0.09375rem;
    color: var(--primary-dark-grey);
    direction: ltr;
  }
  .timeline-content h3 {
    margin-top: 0.3125rem;
    color: var(--primary-red);
    font-weight: 900;
  } */
  /* ***************** EXPERIENCE ***************************  */
  .experience{
    padding: 0.7rem;
  }
.experience-wrapper{
  position: relative;
  padding: 3.125rem;
  overflow: hidden;
}

.experience h1 {
  text-transform:uppercase;
  color: var(--primary-yellow);
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width:0.125rem;
  height: 100%;
  background:var(--primary-dark);
  z-index: 1;
}
.timeline-block{
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content:space-between;
  clear:both;
}

.timeline-block-right{
  float:right;
}

.timeline-block-left{
  float:left;
  direction: rtl;
}

.marker{
  width: 1rem;
  height: 1rem;
  border-radius:50%;
  border: 0.3125rem solid var(--primary-dark-grey);
  background: var(--primary-teal);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content{
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-gray);
  direction: ltr;
}

.timeline-content h3{
  margin-top: 0.3125rem;
  color: var(--primary-teal);
}

/* ***************** EXPERIENCE MEDIA ***************************  */
@media(max-width:758px){
  .experience .container{
    padding-left:0;
  }
  .experience-wrapper::before{
    left:0.5rem;
    margin-bottom:1.875rem;
  }
  .timeline-block-right{
    float:none;
    width:100%;
  }
  .timeline-block-left{
    float:none;
    direction: ltr;
    width:100%;
  }
}
/*------------ MEDIA --------------*/
/* @media(max-width: 758px) {
  .experience-wrapper .container {
    padding-left: 0;
  }
  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
} */

/*------------ SERVICES NEW--------------*/

/* div#services{
  padding-top: 2rem;
  padding-bottom: 0rem;
  align-items: space-around;
}

.services-wrapper {
  padding-bottom: 2rem;
  position: relative;
  background: var(--primary-white);
}

.services-wrapper h1 {
  color: var(--primary-yellow);
  text-transform: uppercase;
  font-size: 2.7rem !important;
} 

.services-wrapper .py-5{
  padding: 1.5rem !important;
}

#services {
  padding-top: 0rem;
  padding: 2rem;
  align-items: space-around;
}

.services-wrapper .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-teal);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.services-wrapper .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services-wrapper #boxes{
  padding-bottom: 2rem;
}

.services-wrapper .grid {
  grid-column: 4;
}

.services-wrapper .column{
  padding-top: 1.5rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
  font-size: 1.1rem !important;
  color: var(--primary-black);
   align-items: space-around;
  float: none;
}

.skill-set {
  align-items: center !important; 
  position: relative;
  margin: .2rem; 
}

.services-wrapper .box {
  align-items: space-between; 
  border-bottom: .3125rem solid var(--primary-teal);
  padding-top: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom:1rem;
  background: var(--primary-light-grey);
  transition: 0.3s ease-in-out;
}

.services-wrapper .skill-set {
  
  align-items: space-between;
  position: center; 
  padding-top: 3rem;
  transition: 0.3s ease-in-out;
}

.services-wrapper .box:hover .icon {
  color: var(--primary-blue);
}

.services-wrapper .circle:hover {
  border-bottom: var(--primary-blue);
} */